@media screen and (min-width: 768px){
	header{
		display: flex;
	}
    h1 {
		font-size: 2.5rem;
		text-align: left;	
		flex:1;
        padding-left: 50px;
	}
	#menu {
            display: none;
    }
  .navigation {
		flex-direction: row;
		flex: 1;
		background-color: white;
		max-width: 500px;
	}
	.navigation a {
		display: block;
		flex: 1 1 100%;
		color: red;
        background-color: beige ;
	}
    .navigation a:hover{
        color: white;
    }
    img{
        width: 730px;
    }
    figcaption{
        text-align: center;
    }
	/* form */
	.form input[type='text'],
    .form input[type='date']{
        width: 675px;
    }
    .form textarea{
        width: 695px;
    }
    .form select{
        width: 700px;
    }
    .form input[type='submit']{
        left: 0px; 
        width: 700px;
        margin: 20px; 
    }
    main{
        margin-left: 10px;
        margin-right: 10px;
    }
    iframe{
        width:200px;
    }
    .co{
        margin-bottom: 10px;
    }
}