body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
	display: flex;
	flex-direction: column;
	justify-content: center;
    padding-left: 30px;
    background-color: #000000;
    margin-left: 50px;
    margin-right: 50px;
}
h1,h2,h3,footer p{
    color:#f5deb3;
}
p,ul,ol{
    color: #ffffff;
}