@media screen and (min-width: 768px){
    #menu {
        display: none;
    }
    header{
        display: flex;
        flex-direction: row;
        font-size: large;
        /* align-items: flex-end; */
    }
    .head img{
        margin-top: 5px;
        margin-left: 50px;
        /* box-shadow: none;
        background: none;
        border: none; */
    }
    .head h1{
        text-align: left;
        margin-top: 0;
    }
    .com{
        width: 80%;
        align-self: flex-end;
        padding-left: 60px;
    }
    .head p{
        margin-top: 0;
        margin-bottom: 5px;
        text-align: left;
    }
    .nav {
        background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 1.5px;
        /* width: 50%; */
    }
    .nav a{
        border: none;
        color: white;
        background-color: blue;
        /* border: 1px solid blue; */
        /* border-bottom: 2px solid blue; */
    }
    .list {
        font-size: large;
    }
    .list section img {
        display: block;
    }
    .list section {
        grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
        gap:10px;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .grid #cards{
        gap:20px;
    }

    /* Home page */
    .weather{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
    }
    .home #cards{
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .home #cards p, .home #cards a{
        padding-left: 5px;
        font-size: x-small;
        /* background-color: aqua; */
    }
    .home #cards h2{
        /* background-color: aqua; */
    }
    .home{
        padding-left: 40px;
        padding-right: 40px;
    }
    .hero{
        height: 500px;
        margin-top: 3px;
    }
    .home h1, .weather, .home #cards, .here{
        margin-left: 20px;
        margin-right: 20px;
    }
    footer p, .socia-media{
        margin-left: 0px;
    }

    /* Join page */
    .join{
        display: grid;
        grid-template-columns: auto auto;
        
        max-width: none;
    }
    #level{
        gap: 5px;
        max-height: 100px;
    }
    #level section{
        width: 350px;
        height: 150px;
        /* border-radius: 0%; */
        align-content: center;
    }
    .form{
        margin-bottom: 20px;
    }
    form input, textarea{
        max-width: 350px; 
    }
    .join h2{
        color: yellow;
        font-size:x-large;
    }
}